In [33]:
# !kaggle competitions download -c nlp-getting-started
# !pip install voila

Collecting voila
  Downloading voila-0.1.21-py3-none-any.whl (5.9 MB)
Requirement already satisfied: nbconvert<6,>=5.5.0 in c:\users\lenovo\anaconda3\lib\site-packages (from voila) (5.6.1)
Collecting jupyter-server<0.2.0,>=0.1.0
  Downloading jupyter_server-0.1.1-py2.py3-none-any.whl (183 kB)
Collecting async-generator
  Using cached async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: pygments<3,>=2.4.1 in c:\users\lenovo\anaconda3\lib\site-packages (from voila) (2.5.2)
Collecting jupyterlab-pygments<0.2,>=0.1.0
  Downloading jupyterlab_pygments-0.1.1-py2.py3-none-any.whl (4.6 kB)
Requirement already satisfied: jinja2>=2.4 in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert<6,>=5.5.0->voila) (2.11.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert<6,>=5.5.0->voila) (1.4.2)
Requirement already satisfied: jupyter-core in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert<6,>=5.5.0->voila) (4.6.1)
Requirement already satisfied: testpath in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert<6,>=5.5.0->voila) (0.4.4)
Requirement already satisfied: bleach in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert<6,>=5.5.0->voila) (3.1.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert<6,>=5.5.0->voila) (4.3.3)
Requirement already satisfied: defusedxml in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert<6,>=5.5.0->voila) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert<6,>=5.5.0->voila) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert<6,>=5.5.0->voila) (0.8.4)
Requirement already satisfied: nbformat>=4.4 in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert<6,>=5.5.0->voila) (5.0.4)
Requirement already satisfied: prometheus-client in c:\users\lenovo\anaconda3\lib\site-packages (from jupyter-server<0.2.0,>=0.1.0->voila) (0.7.1)
Requirement already satisfied: Send2Trash in c:\users\lenovo\anaconda3\lib\site-packages (from jupyter-server<0.2.0,>=0.1.0->voila) (1.5.0)
Requirement already satisfied: ipython-genutils in c:\users\lenovo\anaconda3\lib\site-packages (from jupyter-server<0.2.0,>=0.1.0->voila) (0.2.0)
Requirement already satisfied: terminado>=0.8.1 in c:\users\lenovo\anaconda3\lib\site-packages (from jupyter-server<0.2.0,>=0.1.0->voila) (0.8.3)
Requirement already satisfied: pyzmq>=17 in c:\users\lenovo\anaconda3\lib\site-packages (from jupyter-server<0.2.0,>=0.1.0->voila) (18.1.1)
Requirement already satisfied: jupyter-client>=5.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from jupyter-server<0.2.0,>=0.1.0->voila) (5.3.4)
Requirement already satisfied: ipykernel in c:\users\lenovo\anaconda3\lib\site-packages (from jupyter-server<0.2.0,>=0.1.0->voila) (5.1.4)
Requirement already satisfied: tornado>=4 in c:\users\lenovo\anaconda3\lib\site-packages (from jupyter-server<0.2.0,>=0.1.0->voila) (6.0.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\lenovo\anaconda3\lib\site-packages (from jinja2>=2.4->nbconvert<6,>=5.5.0->voila) (1.1.1)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\lenovo\anaconda3\lib\site-packages (from jupyter-core->nbconvert<6,>=5.5.0->voila) (227)
Requirement already satisfied: six>=1.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from bleach->nbconvert<6,>=5.5.0->voila) (1.14.0)
Requirement already satisfied: webencodings in c:\users\lenovo\anaconda3\lib\site-packages (from bleach->nbconvert<6,>=5.5.0->voila) (0.5.1)
Requirement already satisfied: decorator in c:\users\lenovo\anaconda3\lib\site-packages (from traitlets>=4.2->nbconvert<6,>=5.5.0->voila) (4.4.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\lenovo\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert<6,>=5.5.0->voila) (3.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from jupyter-client>=5.3.1->jupyter-server<0.2.0,>=0.1.0->voila) (2.8.1)
Requirement already satisfied: ipython>=5.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ipykernel->jupyter-server<0.2.0,>=0.1.0->voila) (7.12.0)
Requirement already satisfied: setuptools in c:\users\lenovo\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert<6,>=5.5.0->voila) (45.2.0.post20200210)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\lenovo\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert<6,>=5.5.0->voila) (1.5.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\lenovo\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert<6,>=5.5.0->voila) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\lenovo\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert<6,>=5.5.0->voila) (0.15.7)
Requirement already satisfied: jedi>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter-server<0.2.0,>=0.1.0->voila) (0.14.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter-server<0.2.0,>=0.1.0->voila) (3.0.3)
Requirement already satisfied: pickleshare in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter-server<0.2.0,>=0.1.0->voila) (0.7.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter-server<0.2.0,>=0.1.0->voila) (0.4.3)
Requirement already satisfied: backcall in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->jupyter-server<0.2.0,>=0.1.0->voila) (0.1.0)
Requirement already satisfied: zipp>=0.5 in c:\users\lenovo\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert<6,>=5.5.0->voila) (2.2.0)
Requirement already satisfied: parso>=0.5.0 in c:\users\lenovo\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->jupyter-server<0.2.0,>=0.1.0->voila) (0.5.2)
Requirement already satisfied: wcwidth in c:\users\lenovo\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->jupyter-server<0.2.0,>=0.1.0->voila) (0.1.8)
Installing collected packages: jupyter-server, async-generator, jupyterlab-pygments, voila
Successfully installed async-generator-1.10 jupyter-server-0.1.1 jupyterlab-pygments-0.1.1 voila-0.1.21

In [2]:
# from zipfile import ZipFile
import pandas as pd 
import os

In [18]:
# cwd = "C:\\Users\\Lenovo\\Downloads\\"# Replace with your local pc path
# os.chdir(cwd)
# zip_location = "nlp-getting-started.zip"
# zip = os.path.join(cwd, zip_location)
# path = "kaggle-competition"
# read_data = os.path.join(cwd,path)
# print('Current Working Directory',os.getcwd())
# # data_save = "C:\\Users\\Lenovo\\Downloads"

In [19]:
# # !mkdir kaggle-competition
# with ZipFile(zip, 'r') as zipObj:
#    # Extract all the contents of zip file in different directory
#    zipObj.extractall('kaggle-competition')

In [4]:
df = pd.read_csv("data/train.csv")

In [5]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [6]:
missing_column = (df.isna().sum()/len(df))*100
print(missing_column)

id           0.000000
keyword      0.801261
location    33.272035
text         0.000000
target       0.000000
dtype: float64

In [7]:
drop = df.dropna(axis='rows')
drop.head()

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0

In [12]:
rearranged_columns = drop.sort_values(by=['id'],axis=0, ascending=True)
rearranged_columns.head()

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0

In [16]:
new_df = rearranged_columns.duplicated()
new_df.head()

31    False
32    False
33    False
34    False
35    False
dtype: bool